[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"city info" = {editable = true, path = "."}

[dev-packages]
"city info" = {editable = true, path = "."}

[requires]
python_version = "3.7"
